.image-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
  padding: 100px 0px;
  position: relative;
}
.del_button{
position: absolute;
top: 50;
right: 100px;
cursor: pointer;
z-index: 999999999;
background-color:white;
color: gray;
outline: none;
border: none;
font-size: 2rem;
transition: 0.2s ease-in-out;
}
.del_button:hover{
  color: rgb(0, 0, 0);
  }
.image-editor .ie_title span{
  font-size: 3rem;
  font-weight: bold;
  color: rgb(25, 25, 25);
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  margin-top: 100px;
}

.dropzone.active {
  border-color: #4caf50;
}
.image-container{
  background-color: red;
  height: 400px;
  width: auto;
  overflow: hidden;
  border: 2px solid rgb(213, 204, 204);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.image-container .overlay{
  position: absolute;
  z-index: 2222222;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 10px;
  color: white;
}
.image-container .overlay .ov_icon{
  font-size: 3rem;
  animation: ani 1s infinite ease;
}
@keyframes ani {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
}

.image-container img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
.del_button{
  position: absolute;
  top: 75px;
  right: 20px;
  cursor: pointer;
  z-index: 999999999;
  background-color:white;
  color: gray;
  outline: none;
  border: none;
  font-size: 1.6rem;
  transition: 0.2s ease-in-out;
  }

.edit_cont{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  gap: 80px;
  position: relative;
}
.edit_cont .edit_options{
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.edit_cont .edit_options button{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  outline: none;
  border: 2px solid rgb(191, 190, 190);
  cursor: pointer;
}
.edit_cont .edit_options .filter-buttons, .background-color-picker , .download-button , .reset-button, .crop-button{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.edit_cont .edit_options .filter-buttons span,label{
  font-size: 0.9rem;
}
/*------ Style 2 ------*/
#bg-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 50px;
  height: 55px;
  border: none;
  cursor: pointer;
}
#bg-color::-webkit-color-swatch {
  border-radius: 50%;
  border: 2px solid rgb(191, 190, 190);
}
#bg-color::-moz-color-swatch {
  border-radius: 50%;
  border: 2px solid rgb(191, 190, 190);
}

.effects-dialog{
  position: absolute;
  background-color: white;
  height: auto;
  width: 250px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 99999;
  left: 200px;
  top: 120px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.effects-dialog .close{
  position: absolute;
  top: 0 !important;
  right: 0px;
  border: none !important;
  height: 20px;
  width: 20px;
  font-size: 1.5rem !important;
}
.cropper-controls{
  display: flex;
  gap: 10px;
}
.cropper-controls button{
padding: 5px 10px;
border: none;
outline: none;
}
.cropper-controls button:nth-child(1){
  background-color: rgb(32, 193, 32);
  color: white;
}
.cropper-controls button:nth-child(2){
  background-color: rgb(193, 32, 32);
  color: white;
}

@media only screen and (max-width: 600px) {
  body{
    overflow-x: hidden;
  }

  .image-editor{
    width: 100%;
    height: 100vh;
}
.image-editor .ie_title span{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(25, 25, 25);
}
  .image-container{
    margin-top: 0px;
    height: 500px;
    margin-bottom: 150px;
    margin-top: 50px;

  }
  .image-container img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .edit_cont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 0px;
    padding: 0px 20px;
    position: relative;

   }
  .edit_cont .edit_options{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    position: absolute;
    z-index: 10000;
    bottom: 0px;
    padding: 0px 10px;
    overflow-x: scroll;

    
  }
  .edit_cont .edit_options button{
    background-color:rgb(255, 255, 255);
    color: rgb(97, 85, 85);
    border: 2px solid rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 500;
   
  }
  .edit_cont .edit_options input{
    margin-top: -3px;
  }
  .edit_cont .edit_options .filter-buttons, .background-color-picker , .download-button , .reset-button, .crop-button{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    scale: 0.9;
  }
  
  .edit_cont .edit_options .filter-buttons span,label{
    font-size: 0.6rem;
    text-align: center;

  }
 
  #bg-color::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
  }
  #bg-color::-moz-color-swatch {
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
  }
  
  .effects-dialog{
    position: absolute;
    height: 200px;
    width: 100%;
    background-color: #ffffff;
    padding: 40px 20px;
    box-shadow: none;
    border-radius: 0px;
    z-index: 9999999999;
    top:430px;
    overflow-x: scroll;
    border-bottom: 1px solid rgb(214, 214, 214);
    border-top: 1px solid rgb(214, 214, 214);
    right: 0;
    left: 0;
  }
  
  .slider-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;

  }
  .slider label{
   opacity: 1;
   font-size: 1.1rem;
  }
  .slider2 label{
    display: block;
    opacity: 1 !important;
    font-size: 1.1rem;
  }
  .slider .slide{
    width: 100% !important;
    margin: 5px;
  }
  
  .effects-dialog .close{
    position: absolute;
    top: 0;
    right: 0px;
    border: none !important;
    height: 20px;
    width: 20px;
    font-size: 1.5rem !important;
    background-color: #ffffff !important;
    color: black !important;
  }
  .effects-dialog span{
    color:  rgb(82, 82, 82) !important;
  }
}