@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    overflow-x: hidden;
}

.drag_image .icon{
    font-size: 4rem;
    opacity: 0.5;
}
.drag_image p{
    font-size: 1rem;
    opacity: 0.5;
}
.image-editor{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: #faf3e3;
    height: auto;
}
.image-editor .ie_title{

}
.image-editor .ie_title span{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(25, 25, 25);
}
nav{
    height: 70px;
    border-bottom: 1px solid rgb(231, 231, 231);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: #f8f2e4;
}
nav .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #a0710b;
}

@media only screen and (max-width: 600px) {
    .image-editor{
        width: 100%;
        height: auto;
    }
    .image-editor .ie_title{
    
    }
    .image-editor .ie_title span{
        font-size: 2rem;
        font-weight: bold;
        color: rgb(25, 25, 25);
    }
}